@charset "UTF-8";
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif; } }

/****************************************************************/
/****************************************************************/
/* VARIABLES */
/****************************************************************/
/****************************************************************/
/* Shadows */
/* Glows */
/* Bordes */
/****************************************************************/
/****************************************************************/
/* Icons */
/****************************************************************/
/****************************************************************/
.icon:before {
  font-family: 'Material Icons';
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 24px; }

.icon.edit:before {
  content: "edit"; }

.icon.add:before {
  content: "add"; }

.icon.mail:before {
  content: "mail"; }

.icon.delete:before {
  content: "delete_forever"; }

.icon.event:before {
  content: "event"; }

.icon.search:before {
  content: "search"; }

.icon.concil:before {
  content: "done_all"; }

.icon.credit_card:before {
  content: "credit_card"; }

.icon.chevron_left:before {
  content: "chevron_left"; }

.icon.chevron_right:before {
  content: "chevron_right"; }

.icon.chevron_up:before {
  content: "keyboard_arrow_up"; }

.icon.chevron_down:before {
  content: "keyboard_arrow_down"; }

.icon.arrow_back:before {
  content: "arrow_back"; }

.icon.arrow_forward:before {
  content: "arrow_forward"; }

.icon.arrow_upward:before {
  content: "arrow_upward"; }

.icon.arrow_downward:before {
  content: "arrow_downward"; }

.icon.duplicate:before {
  content: "library_add"; }

.icon.time:before {
  content: "alarm"; }

.icon.file:before {
  content: "insert_drive_file"; }

.icon.close:before {
  content: "close"; }

.icon.filter_list:before {
  content: "filter_list"; }

.icon.restore:before {
  content: "restore"; }

.icon.menu:before {
  content: "menu"; }

.icon.visibility:before {
  content: "visibility"; }

.icon.visibility_off:before {
  content: "visibility_off"; }

.icon.message:before {
  content: "sms"; }

.icon.cancel:before {
  content: "cancel"; }

.icon.autorenew:before {
  content: "autorenew"; }

.icon.notifications:before {
  content: "notifications"; }

.icon.help:before {
  content: "help"; }

.icon.wallet:before {
  content: "account_balance_wallet"; }

.icon.phone:before {
  content: "phone"; }

.icon.archive:before {
  content: "archive"; }

.icon.person:before {
  content: "person"; }

.icon.settings:before {
  content: "settings"; }

.icon.build:before {
  content: "build"; }

.icon.error:before {
  content: "error"; }

.icon.info:before {
  content: "info"; }

.icon.play:before {
  content: "play_arrow"; }

.icon.check:before {
  content: "check_circle"; }

/****************************************************************/
/****************************************************************/
/* STORYBOOK */
/****************************************************************/
/****************************************************************/
header {
  margin-bottom: 50px; }
  header .heading {
    align-items: flex-end;
    background: #FFFFFF;
    padding: 10px 5.5%; }
    header .heading img {
      float: left;
      width: 36px;
      margin-right: 10px; }
    header .heading .title {
      display: flex;
      align-items: baseline; }
    header .heading h2 {
      margin-bottom: 0;
      margin-right: 10px; }
    header .heading h3 {
      font-weight: 400; }
  header nav {
    color: #FFFFFF;
    background: #182026;
    justify-content: center; }
    header nav ul {
      padding: 0;
      margin: 0;
      height: 56px;
      display: flex;
      list-style: none;
      align-items: flex-end; }
      header nav ul li {
        height: 35px;
        margin: 0 20px; }
        header nav ul li a {
          color: #B1B1B1;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          text-align: center;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          padding-bottom: 8px; }
          header nav ul li a:hover {
            color: #D0F6DD;
            text-decoration: none;
            border-bottom: 6px solid #D0F6DD; }
          header nav ul li a.active {
            color: #FFFFFF;
            border-bottom: 6px solid #FFFFFF; }

h1 {
  margin-bottom: 40px; }

section {
  margin: 10px 0 60px; }

.list-group {
  padding: 0 20px 0 0;
  border-right: 1px solid #D8D8D8;
  height: 100%; }

.list-group-item {
  border: none;
  border-radius: 6px;
  color: #182026;
  background-color: transparent; }
  .list-group-item:first-child, .list-group-item:last-child {
    border-radius: 6px; }
  .list-group-item:hover {
    background-color: #F5F5F5; }
  .list-group-item.active {
    background-color: transparent;
    color: #00D246;
    font-weight: 600; }

.tab-pane h2 {
  font-weight: 400; }

.component_container {
  border: none;
  height: 720px;
  width: 100%; }

/****************************************************************/
/****************************************************************/
/* Heading */
/****************************************************************/
/****************************************************************/
h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 124%;
  letter-spacing: -0.04em; }

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.011em;
  margin: 0; }

h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.011em; }

/****************************************************************/
/****************************************************************/
/* Buttons */
/****************************************************************/
/****************************************************************/
.button {
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.011em;
  font-weight: 600;
  transition: all 200ms ease-out; }
  .button:hover {
    text-decoration: none; }
  .button.cta, .button.iconized {
    color: #FFFFFF;
    background-color: #0F6BFF;
    border: 1px solid rgba(24, 32, 38, 0.16); }
    .button.cta:hover, .button.iconized:hover {
      box-shadow: 1px 2px 3px rgba(15, 107, 255, 0.27), 1px 2px 2px rgba(15, 107, 255, 0.36); }
    .button.cta:active, .button.iconized:active {
      background-color: #07357F;
      box-shadow: none; }
  .button.iconized {
    padding-left: 8px;
    padding-right: 10px; }
    .button.iconized span {
      display: inline-flex;
      align-items: center;
      margin-top: -1px; }
      .button.iconized span:before {
        font-size: 18px;
        margin-right: 8px; }
  .button.alert {
    color: #FFFFFF;
    background-color: #E71321;
    border: 1px solid rgba(24, 32, 38, 0.16); }
    .button.alert:hover {
      box-shadow: 1px 2px 3px rgba(223, 19, 33, 0.27), 1px 2px 2px rgba(223, 19, 33, 0.36); }
    .button.alert:active {
      background-color: #730910;
      box-shadow: none; }
  .button.transparent {
    color: #0F6BFF;
    background-color: transparent;
    border-color: transparent; }
    .button.transparent:hover {
      background-color: rgba(24, 32, 38, 0.07);
      box-shadow: none; }
    .button.transparent:active {
      color: #07357F; }
  .button.borde {
    color: #0F6BFF;
    background-color: transparent;
    border: 1px solid #0F6BFF; }
    .button.borde:hover {
      color: #FFFFFF;
      background-color: #0F6BFF; }
    .button.borde:active {
      background-color: #07357F;
      border: none; }

/****************************************************************/
/****************************************************************/
/* Contextual boxes */
/****************************************************************/
/****************************************************************/
.contextual_box {
  padding: 5px 10px;
  background-color: IncreaseWhite;
  border: 1px solid #44494D;
  border-radius: 4px;
  box-shadow: 0px 3px 9px rgba(24, 32, 38, 0.18);
  /* CONTEXTUAL Menu */ }
  .contextual_box.menu {
    display: inline-block;
    margin-top: 3px; }
    .contextual_box.menu ul {
      margin: 0;
      padding: 0; }
    .contextual_box.menu li {
      list-style: none;
      text-align: right; }
    .contextual_box.menu a {
      text-decoration: none;
      color: #44494D;
      font-size: 13px;
      line-height: 16px;
      text-align: right;
      letter-spacing: -0.003em;
      font-feature-settings: 'tnum' on, 'lnum' on; }
    .contextual_box.menu a:hover {
      color: #0F6BFF; }

/****************************************************************/
/****************************************************************/
/* More Actions Button */
/****************************************************************/
/****************************************************************/
.moreActions {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  color: #44494D;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-out; }

.moreActions:hover {
  background-color: #FFFFFF;
  border: 1px solid #44494D;
  box-sizing: border-box;
  box-shadow: 0px 3px 9px rgba(24, 32, 38, 0.18);
  color: #0F6BFF; }

/****************************************************************/
/****************************************************************/
/* Links */
/****************************************************************/
/****************************************************************/
/* external link icon */
.link {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: all 0.16s ease; }
  .link:after {
    font-family: 'Material Icons';
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 20px;
    margin-left: 0px; }
  .link.external:after {
    content: "open_in_new"; }
  .link.internal:after {
    content: "chevron_right"; }
  .link:hover {
    color: #0F6BFF; }

/****************************************************************/
/****************************************************************/
/* Content boxes */
/****************************************************************/
/****************************************************************/
/* Caja */
.content_box {
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 20px; }
  .content_box h2 {
    color: #182026; }

/****************************************************************/
/****************************************************************/
/* TAGs */
/****************************************************************/
/****************************************************************/
.tag {
  padding: 0 10px;
  border-radius: 10px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  cursor: default;
  /* LABEL */
  color: #FFFFFF;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  /*INVOICE STATES*/
  /*PAYMENTS STATES*/ }
  .tag.invoice.draft {
    color: #44494D;
    background: #D8D8D8; }
  .tag.invoice.open {
    background: #239DCE; }
  .tag.invoice.partial {
    background: #76CACA; }
  .tag.invoice.paid {
    background: #27BA58; }
  .tag.invoice.null {
    background: #B1B1B1; }
  .tag.invoice.unchargeable {
    background: #44494D; }
  .tag.payment.open {
    background: #239DCE; }
  .tag.payment.processing {
    background: #318686; }
  .tag.payment.approved {
    background: #099237; }
  .tag.payment.paid {
    background: #27BA58; }
  .tag.payment.fail {
    background: #FF6F61; }

/****************************************************************/
/****************************************************************/
/* Path selector */
/****************************************************************/
/****************************************************************/
.path_selector {
  box-sizing: border-box;
  background: #FFFFFF;
  /* Rest_Shadow */
  box-shadow: 0px 0px 5px rgba(24, 32, 38, 0.15);
  border-radius: 9px;
  padding: 10px 20px;
  border: 3px solid #FFFFFF;
  transition: all 200ms ease-out; }
  .path_selector h3 {
    color: #44494D; }
  .path_selector p {
    color: #44494D; }
  .path_selector.active, .path_selector:hover {
    position: relative;
    box-shadow: 6px 6px 18px rgba(67, 183, 183, 0.27), 1px 3px 4px rgba(67, 183, 183, 0.36);
    border: 3px solid #43B7B7; }
    .path_selector.active:after, .path_selector:hover:after {
      font-family: 'Material Icons';
      font-size: 24px;
      /* Preferred icon size */
      display: inline-block;
      line-height: 24px;
      content: "check_circle";
      color: #43B7B7;
      position: absolute;
      top: 10px;
      right: 10px; }
    .path_selector.active h3, .path_selector:hover h3 {
      color: #43B7B7; }
    .path_selector.active p, .path_selector:hover p {
      color: #43B7B7; }

/****************************************************************/
/****************************************************************/
/* Payment Method */
/****************************************************************/
/****************************************************************/
.payment_method {
  display: flex;
  align-items: center; }
  .payment_method .method_icon {
    width: 30px;
    height: 20px;
    float: left;
    margin-right: 10px;
    background-repeat: no-repeat; }
    .payment_method .method_icon.cbu {
      background-image: url("/images/payment/CBU.svg"); }
    .payment_method .method_icon.cash {
      background-image: url("/images/payment/Cash.svg"); }
    .payment_method .method_icon.card {
      background-image: url("/images/payment/CreditCard.svg"); }
    .payment_method .method_icon.visa {
      background-image: url("/images/payment/Visa.svg"); }
    .payment_method .method_icon.master {
      background-image: url("/images/payment/Mastercard.svg"); }
    .payment_method .method_icon.amex {
      background-image: url("/images/payment/Amex.svg"); }
    .payment_method .method_icon.maestro {
      background-image: url("/images/payment/Maestro.svg"); }
    .payment_method .method_icon.mercadopago {
      background-image: url("/images/payment/MercadoPago.svg"); }
    .payment_method .method_icon.naranja {
      background-image: url("/images/payment/Naranja.svg"); }
    .payment_method .method_icon.nativa {
      background-image: url("/images/payment/Nativa.svg"); }
    .payment_method .method_icon.cabal {
      background-image: url("/images/payment/Cabal.svg"); }
    .payment_method .method_icon.diners {
      background-image: url("/images/payment/Diners.svg"); }
    .payment_method .method_icon.discover {
      background-image: url("/images/payment/Discover.svg"); }
    .payment_method .method_icon.cmr {
      background-image: url("/images/payment/CMRFlabella.svg"); }
    .payment_method .method_icon.cencosud {
      background-image: url("/images/payment/Cencosud.svg"); }
    .payment_method .method_icon.jcb {
      background-image: url("/images/payment/JCB.svg"); }
    .payment_method .method_icon.tarjetashopping {
      background-image: url("/images/payment/TarjetaShopping.svg"); }
    .payment_method .method_icon.cordobesa {
      background-image: url("/images/payment/Cordobesa.svg"); }
    .payment_method .method_icon.argencard {
      background-image: url("/images/payment/Argencard.svg"); }

/****************************************************************/
/****************************************************************/
/* Payment attempts */
/****************************************************************/
/****************************************************************/
.payment_attempts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 3px; }

.payment_light {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #27BA58;
  margin: 0 2.5px;
  transition: all 150ms ease-out; }
  .payment_light.fail {
    background-color: #FF6F61; }
  .payment_light.partial {
    background-color: #FFAC30; }
  .payment_light:hover {
    border: 3px solid #182026;
    box-sizing: border-box; }
  .payment_light.plus {
    background: transparent;
    border: none !important;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.003em;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #B1B1B1;
    cursor: default; }

/* LUZ DE INTENTO - TOOLTIP */
.light_tooltip {
  width: 263px; }
  .light_tooltip .row {
    margin: 5px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .light_tooltip span {
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    letter-spacing: -0.003em;
    font-feature-settings: 'tnum' on, 'lnum' on; }

/****************************************************************/
/****************************************************************/
/* Details box */
/****************************************************************/
/****************************************************************/
.details_box {
  border: 4px solid #182026;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 20px; }
  .details_box .row {
    margin: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* space-between;*/ }
    .details_box .row label {
      width: 35%; }
  .details_box .external_link {
    font-weight: 600; }

/****************************************************************/
/****************************************************************/
/* Detalle de Orden de pago */
/****************************************************************/
/****************************************************************/
/* Encabezado */
.invoice_header .title {
  display: flex;
  align-items: center; }

.invoice_header h1 {
  margin: 0 20px 0 0; }

.invoice_header h2 {
  font-weight: 400; }

.invoice_header h3 {
  font-weight: 400;
  margin: 10px 0 0; }
  .invoice_header h3 span {
    color: #D8D8D8; }

/****************************************************************/
/****************************************************************/
/* General */
/****************************************************************/
/****************************************************************/
body {
  font-family: 'Inter';
  color: #182026;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.011em;
  background-color: #FBFBFB; }

.right {
  float: right; }

label {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #B1B1B1; }

/****************************************************************/
/****************************************************************/
/* Varios */
/****************************************************************/
/****************************************************************/
/* Línea separadora */
hr {
  border-style: solid;
  color: #D8D8D8;
  margin: 50px 0 20px;
  border-width: .5px; }

/*# sourceMappingURL=styles.css.map */