@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@import "components/variables";
@import "components/storybook";

@import "components/heading";
@import "components/buttons";
@import "components/icons";


@import "components/contextual";
@import "components/tag";
@import "components/payment_method";
@import "components/payment_attempts";
@import "components/moreActions";
@import "components/links";
@import "components/details_box";
@import "components/invoice";

/****************************************************************/
/****************************************************************/
/* General */
/****************************************************************/
/****************************************************************/

body {
    font-family: 'Inter';
    color: $IncreaseBlack;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.011em;
    background-color: $NotSoWhite;
}

.right {
    float: right;
}

label {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $IncreaseWhite-bold;
}

/****************************************************************/
/****************************************************************/
/* Varios */
/****************************************************************/
/****************************************************************/

/* Caja */
.content_box {
    background: $IncreaseWhite;
    border: 1px solid $IncreaseWhite-medium;
    box-sizing: border-box;
    border-radius: 9px;
    padding: 20px;
}

/* Línea separadora */
hr {
    border-style: solid;
    color: $IncreaseWhite-medium;
    margin: 50px 0 20px;
    border-width: .5px;
}

