<!DOCTYPE html> 
<html> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
<body> 
  
    <h2>Botón primario</h2>
    <section>
        <a href="#" class="button cta">Continuar</a>    
    </section>
    
    <h2>Botón alerta</h2>
    <section>
        <a href="#" class="button alert">Eliminar</a>    
    </section>
    
    <h2>Botón invisible</h2>
    <section>
        <a href="#" class="button invisible">Cancelar</a>    
    </section>
    
    <h2>Botón Borde</h2>
    <section>
        <a href="#" class="button border">Cancelar</a>    
    </section>
    
    <h2>Botón con Icono</h2>
    <section>
        <a href="#" class="button iconized"><span class="icon edit"></span>Editar</a>    
    </section>
    
    <h2>Botón Invisible con Icono</h2>
    <section>
        <a href="#" class="button invisible iconized"><span class="icon edit"></span>Editar</a>    
    </section>
  
</body> 
  
</html> 