<!DOCTYPE html> 
<html> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />

</head>
<body class="component"> 
  
    <h1>Botones</h1>
    
    <div class="">
    <div class="row">
        <div class="col">
            <label>Primario</label>
            <section>
                <a href="#" class="button cta">Continuar</a>    
            </section>

            <label>Alerta</label>
            <section>
                <a href="#" class="button alert">Eliminar</a>    
            </section>

            <label>Invisible</label>
            <section>
                <a href="#" class="button transparent">Cancelar</a>
            </section>

            <label>Borde</label>
            <section>
                <a href="#" class="button borde">Cancelar</a>    
            </section>
        </div>
        <div class="col">
            <label>Con Icono</label>
            <section>
                <a href="#" class="button iconized"><span class="icon edit">Editar</span></a>    
            </section>

            <label>Invisible con Icono</label>
            <section>
                <a href="#" class="button transparent iconized"><span class="icon add">Agregar</span></a>    
            </section>
        </div>
    </div>
    </div>
  
</body> 
  
</html> 