<!DOCTYPE html> 
<html> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>  
<body> 
  
    <div class="details_box">
        <h2>Detalles</h2>

        <div class="row">
            <label>Cliente</label>
            <span class="link internal">enrico@palazzo.com</span>
        </div>

        <div class="row">
            <label>Fecha de creación</label>
            <span>27/10/2019</span>
        </div>

        <div class="row">
            <label>Período actual</label>
            <span>01/11/2019 al 30/11/2019</span>
        </div>

        <div class="row">
            <label>Método de pago</label>            
<!--                <span class="payment_method cbu">* 3156</span>-->
            <div class="payment_method">
                <div class="method_icon cbu"></div>
                <span>* 3156</span>
            </div>
        </div>
    </div>
  
</body> 
  
</html> 