<!DOCTYPE html> 
<html> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>  
<body class="component">
    
    <h1>Una factura</h1>
  
    <div class="invoice_header">
        <div class="title">
            <h1>OP 0000000-2</h1>
            <div class="tag invoice open">Abierta</div>
        </div>
        <h2>de $ 4.935,00</h2>
        <h3><span>Fecha de pago:</span> hace 4 horas</h3>
    </div>
    
</body> 
  
</html> 