<!DOCTYPE html> 
<html> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>  
<body class="component"> 
  
    <h1>Modales</h1>
    
    <section>
        <div class="modal_box">
            <a href="#" class="icon close"></a>
            
            <h2>Re-enviar pago al usuario</h2>
            <p>Utiliza los métodos cargados para el cliente:</p>
            
            <form>
                <div class="input-group">
                    <input type="radio" checked>
                    <div class="payment_method">
                        <div class="method_icon amex"></div>
                        <span>* 3156</span>
                    </div>
                    <span>(utilizado en el último intento)</span>
                </div>
                <div class="input-group">
                    <input type="radio">
                    <div class="payment_method">
                        <div class="method_icon cbu"></div>
                        <span>* 3156</span>
                    </div>
                </div>
            </form>
            <hr>
            <p>O carga otro método de pago para intentarlo nuevamente.</p>
            <a href="#" class="button transparent iconized"><span class="icon add">Agregar Método de pago</span></a>
            
            <div class="buttons">
                <a href="#" class="button cta">Continuar</a>
                <a href="#" class="button transparent">Continuar</a>
            </div>
        </div>
    </section>
    
    
</body> 
  
</html> 