<!DOCTYPE html> 
<html> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>  
<body class="component">
  
    <div class="moreActions"><i class="material-icons">more_horiz</i></div>
        
    <div class="contextual_box menu">
        <ul>
            <li><a href="#">Ver detalle</a></li>
            <li><a href="#">Modificar el estado de la órden</a></li>
            <li><a href="#">Emitir nota de crédito</a></li>
        </ul>
    </div>   
  
</body> 
  
</html> 