<!DOCTYPE html> 
<html> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>  
<body class="component">
  
    <h1>Números grandes</h1>
    
    <label>Card like</label>
    <section>
        <div class="number_box border big sky_light">
            <h3>Hoy te acreditan</h3> 
            <h2>$ 71.936,<span>40</span></h2>
            <a href="#" class="button transparent">Ver más</a> 
        </div>
    </section>
    
    <label>Insights like</label>
    <section>
        <div class="number_box fill big sky">
            <h3>A presentar</h3>
            <h2>$ 36.881,<span>85</span></h2>
        </div>
    </section>
  
</body> 
  
</html> 