<!DOCTYPE html> 
<html> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>  
<body class="component"> 
  
    <h1>Path Selector</h1>
    
    <label>Default</label>
    <section>
        <div class="path_selector">
            <h3>Tarifa por Cantidad recurrente</h3>
            <p>Factura a tus clientes un monto fijo por período.</p>
        </div>
    </section>
    
    <label>Active</label>
    <section>
        <div class="path_selector active">
            <h3>Tarifa por Cantidad recurrente</h3>
            <p>Factura a tus clientes un monto fijo por período.</p>
        </div>
    </section>
  
    
</body> 
  
</html> 