<!DOCTYPE html> 
<html> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>  
<body class="component">
  
    <div class="payment_attempts">
            <span class="payment_light fail"></span>
            <span class="payment_light ok"></span>            
            <span class="payment_light partial"></span>
            <span class="payment_light plus">+2</span>
        </div>
        
        <div class="light_tooltip contextual_box">
            <div class="row">
                <label>Estado</label>
                <div class="tag payment fail">Rechazado</div>
            </div>
            
            <div class="row">
                <label>Fecha de pago</label>
                <span>27/10/2019</span>
            </div>
            
            <div class="row">
                <label>Método de pago</label>
<!--                <span class="payment_method visa">* 3156</span>-->
                <div class="payment_method">
                    <div class="method_icon visa"></div>
                    <span>* 3156</span>
                </div>
            </div>
            
            <div class="row">
                <label>Importe</label>
                <span>$ 4.935,00</span>
            </div>
    </div>    
  
</body> 
  
</html> 