<!DOCTYPE html> 
<html> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>  
<body class="component">
  
    <h1>Tags</h1>
    
    <label>Estados Factura</label>
    <section>
        <div class="tag invoice draft">Borrador</div>
        <div class="tag invoice open">Abierta</div>
        <div class="tag invoice partial">Parcial</div>
        <div class="tag invoice paid">Pagada</div>
        <div class="tag invoice null">Nula</div>
        <div class="tag invoice unchargeable">Incobrable</div>
    </section>
    
    <label>Estados Pagos</label>
    <section>
        <div class="tag payment open">Abierto</div>
        <div class="tag payment processing">Procesando</div>
        <div class="tag payment approved">Aprobado</div>
        <div class="tag payment paid">Cobrado</div>
        <div class="tag payment fail">Rechazado</div>
    </section>
  
</body> 
  
</html> 