<!DOCTYPE html> 
<html> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>  
<body> 
  
    <h2>Caja contenedora</h2>
    <section>
        <div class="content_box">
            <h2>Plan</h2>
        </div>
    </section>

    <h2>Línea separadora</h2>
    <section>
        <hr>
    </section>
  
</body> 
  
</html> 