/****************************************************************/
/****************************************************************/
/* Content boxes */
/****************************************************************/
/****************************************************************/

/* Caja */
.content_box {
    background: $IncreaseWhite;
    border: 1px solid $IncreaseWhite-medium;
    box-sizing: border-box;
    border-radius: 9px;
    padding: 20px;
    
    h2 {
        color: $IncreaseBlack;
    }
}