/****************************************************************/
/****************************************************************/
/* Heading */
/****************************************************************/
/****************************************************************/

h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 124%;
    letter-spacing: -0.04em;
}

h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.011em;
    margin: 0;
}

h3 { 
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.011em;
}