/****************************************************************/
/****************************************************************/
/* Modales */
/****************************************************************/
/****************************************************************/

/* Caja */
.modal_box {
    background: $IncreaseWhite;
    border: 1px solid $IncreaseWhite-medium;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px;
    position: relative;
    
    h2 {
        color: $IncreaseBlack;
        padding-right: 20px;
    }
    
    p {
        margin-top: 0;
    }
    
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $IncreaseBlack;
        cursor: pointer;
        
        &:hover {
            color: $Sky;
        }
    }
}