/****************************************************************/
/****************************************************************/
/* STORYBOOK */
/****************************************************************/
/****************************************************************/

header {
    padding: 20px;
    margin-bottom: 20px;
}

section {
    margin: 10px 0 60px;
}

.list-group {
    padding: 0 20px 0 0;
    border-right: 1px solid $IncreaseWhite-medium;
}

.list-group-item {
    border: none;
    border-radius: 6px;
    color: $IncreaseBlack;
    
    &:first-child, &:last-child {
        border-radius: 6px;
    }

    &:hover {
        background-color: $IncreaseWhite-light;
    }
    
    &.active {
        background-color: $IncreaseWhite;
        color: $IncreaseGreen;
        font-weight: 600;
    }

}

.tab-pane {
    h2 {
        font-weight: 400;
    }
}

.component_container {
    border: none;
    height: 720px;
    width: 100%;   
}