/****************************************************************/
/****************************************************************/
/* VARIABLES */
/****************************************************************/
/****************************************************************/

$IncreaseWhite: #FFFFFF;
$IncreaseWhite-light: #F5F5F5;
$IncreaseWhite-medium: #D8D8D8;
$IncreaseWhite-bold: #B1B1B1;

$IncreaseBlack: #182026;
$IncreaseBlack-light: #44494D;
$IncreaseBlack-medium: #14191C;
$IncreaseBlack-bold: #000000;

$IncreaseGreen: #00D246;
$IncreaseGreen-light: #4DE07E;
$IncreaseGreen-medium: #27BA58;
$IncreaseGreen-bold: #099237;

$NotSoWhite: #FBFBFB;

$Sky: #0F6BFF;
$Sky-light: #87B5FF;
$Sky-medium: #4775BF;
$Sky-bold: #07357F;

$Alert: #E71321;
$Alert-light: #F38990;
$Alert-medium: #B34950;
$Alert-bold: #730910;

$BlueGum: #239DCE;

$Liquen: #76CACA;
$Liquen-light: #76CACA;
$Liquen-medium: #76CACA;
$Liquen-bold: #318686;

$Coral: #FF6F61;

$Sol: #FFAC30;

/* Shadows */
$button-blue-shadow: 1px 2px 3px rgba(15, 107, 255, 0.27), 1px 2px 2px rgba(15, 107, 255, 0.36);
$button-alert-shadow: 1px 2px 3px rgba(223, 19, 33, 0.27), 1px 2px 2px rgba(223, 19, 33, 0.36);

/* Bordes */
$border-sutil: 1px solid rgba(24, 32, 38, 0.16);