/****************************************************************/
/****************************************************************/
/* COLORES */
/****************************************************************/
/****************************************************************/

$IncreaseWhite: #FFFFFF;
$IncreaseWhite-light: #FFFFFF;
$IncreaseWhite-medium: #D8D8D8;
$IncreaseWhite-bold: #B1B1B1;

$IncreaseBlack: #182026;
$IncreaseBlack-light: #44494D;
$IncreaseBlack-medium: #14191C;
$IncreaseBlack-bold: #000000;

$IncreaseGreen: #099237;
$IncreaseGreen-light: #099237;
$IncreaseGreen-medium: #27BA58;
$IncreaseGreen-bold: #099237;


$NotSoWhite: #FBFBFB;

$Sky: #0F6BFF;

$BlueGum: #239DCE;

$Liquen: #76CACA;
$Liquen-light: #76CACA;
$Liquen-medium: #76CACA;
$Liquen-bold: #318686;

$Coral: #FF6F61;

$Sol: #FFAC30;